## Pandas Basic Assignment

Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data=[4,8,15,16,23,42]
series= pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable. Print it.

In [4]:
import pandas as pd

list_data=[1,2,3,4,5,6,7,8,9,10]

# Converting the list to a pandas series
series_from_list= pd.Series(list_data)

# Printing the series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data and print it:

In [3]:
import pandas as pd
# Data to be used in Dataframe
data={
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25,30,27],
    "Gender": ["Female", "Male", "Female"]
}

# Creating th DataFrame
df= pd.DataFrame(data)

# Printing the DataFrame
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is 'DataFrame' in pandas and how is it different from pandas.Series? Explain with an example.

Answer: A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a database or an Excel spreadsheet. A Series is a one-dimensional labeled array capable of holding any data type.

In [5]:
# Series
series = pd.Series([1, 2, 3, 4, 5])
print("Series:\n", series)

# DataFrame
data = {
    'A': [1, 2, 3, 4, 5],
    'B': ['a', 'b', 'c', 'd', 'e']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
df

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame:

   A  B
0  1  a
1  2  b
2  3  c
3  4  d
4  5  e

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

In [10]:
# Answer:

# Some common functions to manipulate data in a Pandas DataFrame include:

# df.head(): Displays the first few rows of the DataFrame.
# df.tail(): Displays the last few rows of the DataFrame.
# df.info(): Provides a concise summary of the DataFrame.
# df.describe(): Generates descriptive statistics.
# df.drop(): Removes specified labels from rows or columns.
# df.loc[]: Access a group of rows and columns by labels or a boolean array.
# df.iloc[]: Access a group of rows and columns by integer positions.

In [7]:
# Using df.drop() to remove a column:
# Data to be used in Dataframe
data={
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25,30,27],
    "Gender": ["Female", "Male", "Female"]
}

# Creating th DataFrame
df= pd.DataFrame(data)

# DataFrame before Dropping columns
print("\nOriginal DataFrame:")
print(df)

# Dropping the Gender columns
df_dropped = df.drop(columns=['Gender'])

# DataFrame after dropping columm
print('\nDataFrame after dropping "Gender" column')
df_dropped

Original DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

DataFrame after dropping "Gender" column

     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

Answer:

Both Series and DataFrame are mutable in nature, meaning their values can be changed. Panel is deprecated and should not be used in recent versions of Pandas.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
# Creating individual Series
name_series= pd.Series(["Alice", "Bob", "Claire"])
age_seeries= pd.Series([25, 30, 27])
gender_series= pd.Series(["Female","Male", "Female"])

# Creating DataFrame from Series
df_from_Series= pd.DataFrame({
    "Name": name_series,
    "Age": age_seeries,
    "Gender": gender_series
})

# Printing the DataFrame
df_from_Series

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female